body {
    font-family: Arial, sans-serif; 
}

h1 {
    color: #4CAF50; /* Set header color */
    font-size: 2.5em; /* Adjust header size */
    text-align: center; /* Center the header */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}